li{
	list-style-type:none;
	float: left;
	margin-left: 20px;
	display:inline;
}
.total{
	float:right;
	margin-rigth:100px;
}
div > table{
	display:table;
	margin-left:auto;
	margin-right:auto;
}

.result{
	margin: 10px;
}

.search_table{
	margin-bottom:10px;
}


.pagination{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}

#message_add{
	font-size:12px;
}
