<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nderp.mapper.CodeMapper">
	<select id="getDept" resultType="org.nderp.domain.CodeDAO">
		select *
			from CODE_DEPARTMENT
	</select>

	<select id="getSchool" resultType="org.nderp.domain.CodeDAO">
		select *
			from CODE_SCHOOL
	</select>

	<select id="getSkill" resultType="org.nderp.domain.CodeDAO">
		select *
			from CODE_SKILL
	</select>
</mapper>