<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nderp.mapper.StaffMapper">

	<insert id="insert">
		insert into staff
			values(staff_seq.nextval,#{staff_name},
			#{jumin_no},#{school_code},
			#{department_code},#{graduate_day})
	</insert>
	
	<insert id="insertSkill">
		insert into staff_skill
			values(staff_skill_seq.nextval,
			(select 
			max(staff_no) from staff), 
			#{skill_code})
	</insert>

	<delete id="delete">
		delete from staff
			where staff_no = #{staff_no}
	</delete>
	
	<delete id="deleteSkill">
		delete from staff_skill
			where staff_no = #{staff_no}
	</delete>
	
	<update id="update">
		update staff
			set staff_name = #{staff_name},
				jumin_no = #{jumin_no},
				school_code = #{school_code},
				department_code = #{department_code},
				graduate_day = #{graduate_day}
				where staff_no = #{staff_no}
	</update>
	
	<insert id="updateSkill" parameterType="HashMap">
		insert into staff_skill
			values(staff_skill_seq.nextval,
			#{staff_no}, 
			#{skill_code})
	</insert>
	
	<select id="get" resultType="org.nderp.domain.Staff">
		select *
			from staff
			where staff_no = #{staff_no}
	</select>
	
	<select id="getSkill" resultType="Integer">
		select skill_code
			from staff_skill
			where staff_no = #{staff_no}
			order by skill_code
	</select>
	
	<select id="getListWithPaging" resultType = "org.nderp.domain.ResultDAO">
		<![CDATA[
		select
			rn, staff_no, staff_name, substr(jumin_no,8,1) sex, 
			(select department_name
			from code_department
			where department_code = dept) department_name, graduate_day
			from
			(
			select 
			rownum rn, staff_no, staff_name, jumin_no,department_code dept, graduate_day
			from
			 ]]>
			 

			 <foreach collection="isSkillArr" item="isSkill">
			 <choose>
				 <when test ="isSkill=='Y'.toString()">
				  (
					select *
						from staff
						where staff_no in(
							select distinct staff_no
							from staff_skill
							where Skill_Code in 
							<foreach collection="skillArr" item="skill" open="(" separator="," close=")">
							#{skill}
							</foreach>
							))
				 </when>
				 <otherwise>
				 (staff)
				 </otherwise>
			 </choose>
			 </foreach>
			where 
			<foreach collection="typeArr" item="type">
			<trim prefix ="(" suffix=") AND" >
			 	<if test="type=='N'.toString()">
			 	staff_name like '%'||#{keyword}||'%'
			 	</if>
			 	<if test="type=='J'.toString()">
			 	substr(jumin_no,8,1) in
			 	<foreach collection="sexArr" item="sex" open="(" separator="," close=")">
			 	 #{sex}
			 	 </foreach>
			 	</if>
			 	<if test="type=='D'.toString()">
			 	department_code = #{dept}
			 	</if>
			 	<if test="type=='S'.toString()">
			 	school_code in 
			 	<foreach collection="eduArr" item="edu" open="(" separator="," close=")">
			 	#{edu}
			 	</foreach>
			 	</if>
			 	<if test="type=='G'.toString()">
			 	<![CDATA[ 
				to_timestamp(substr(graduate_day,1,4)||substr(graduate_day,6,2)||substr(graduate_day,9,2),'YYYYMMDD')
				
				between	to_timestamp(#{year1}||#{month1}||#{day1},'YYYYMMDD') and to_timestamp(#{year2}||#{month2}||#{day2},'YYYYMMDD')
			 	]]>
			 	</if>
			 </trim>
			 </foreach>
			 
			 
			<![CDATA[ 
			rownum<=#{pageNum} * #{amount}
			)
			where rn> (#{pageNum}-1)* #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType = "Integer">
			<![CDATA[ 
		select max(rn)
			from
			(
			select 
			rownum rn, staff_no, staff_name, jumin_no,department_code dept,
			graduate_day
			from
			]]>
			 <foreach collection="isSkillArr" item="isSkill">
			 <choose>
				 <when test ="isSkill=='Y'.toString()">
				  (
					select *
						from staff
						where staff_no in(
							select distinct staff_no
							from staff_skill
							where Skill_Code in 
							<foreach collection="skillArr" item="skill" open="(" separator="," close=")">
							#{skill}
							</foreach>
							))
				 </when>
				 <otherwise>
				 (staff)
				 </otherwise>
			 </choose>
			 </foreach>
			 			<![CDATA[ 
			where 
						]]>
		<foreach collection="typeArr" item="type">
			<trim prefix ="(" suffix=") AND" >
			 	<if test="type=='N'.toString()">
			 	staff_name like '%'||#{keyword}||'%'
			 	</if>
			 	<if test="type=='J'.toString()">
			 	substr(jumin_no,8,1) in
			 	<foreach collection="sexArr" item="sex" open="(" separator="," close=")">
			 	 #{sex}
			 	 </foreach>
			 	</if>
			 	<if test="type=='D'.toString()">
			 	department_code = #{dept}
			 	</if>
			 	<if test="type=='S'.toString()">
			 	school_code in 
			 	<foreach collection="eduArr" item="edu" open="(" separator="," close=")">
			 	#{edu}
			 	</foreach>
			 	</if>
			 	<if test="type=='G'.toString()">
			 	<![CDATA[ 
				to_timestamp(substr(graduate_day,1,4)||substr(graduate_day,6,2)||substr(graduate_day,9,2),'YYYYMMDD')
				
				between	to_timestamp(#{year1}||#{month1}||#{day1},'YYYYMMDD') and to_timestamp(#{year2}||#{month2}||#{day2},'YYYYMMDD')
			 	]]>
			 	</if>
			 </trim>
			 </foreach>
			<![CDATA[ 
			staff_no>0
			)
		]]>
	</select>
	
</mapper>